<h1>Howdy!</h1>       
    <div class="main-container">
      <div class="image-row">
        <img class="avatar-image" src="/profile-pic.jpg" alt="book">
      </div>

       <div class="name-row">
        <strong>Traci Kasperbauer</strong>
      </div>

      <div class="social-icons-row">
      <a href="https://www.instagram.com/mila.en.francais/" target="_blank">
        <i class="fa-brands fa-instagram"></i></a>
       <a href="https://www.linkedin.com/in/traci-kasperbauer/" target="_blank">
        <i class="fa-brands fa-linkedin"></i></a>
      <a href="https://open.spotify.com/user/1244862042?si=20394512113645ae" target="_blank">
        <i class="fa-brands fa-spotify"></i></a>
</div>

<% @list_of_items.each do |the_item| %>
  <div class="item>
    <a href="<%= the_item.link_url %>">
    <%= the_item.link_description %>
    </a>

    <class="links-row">
        <div class="item">
          <img class="link-image" src="/thumbnails/img2.jpg" alt="flower2">
          <a class="link-text" target="_blank" href="https://lingualism.com/">
        Lingualism</a>
        </div>
        <div class="item">
           <img class="link-image" src="/thumbnails/img3.jpg" alt="flower3">
           <a class="link-text" target="_blank" href="https://talkinarabic.com/"> Talk in Arabic</a>
        </div>
        <div class="item">
          <img class="link-image" src="/thumbnails/img4.jpg" alt="flower4">
           <a class="link-text" target="_blank" href="http://rescue.org">International Rescue Committee</a>
         </div>
    </a>
  </div>
<% end %>
