    <div class="main-container">
      <div class="image-row">
        <img class="avatar-image" src="/profile-pic.jpg" alt="book">
      </div>

       <div class="name-row">
        <strong>Traci Kasperbauer</strong>
      </div>

      <div class="social-icons-row">
      <a href="https://www.instagram.com/mila.en.francais/" target="_blank">
        <i class="fa-brands fa-instagram"></i></a>
       <a href="https://www.linkedin.com/in/traci-kasperbauer/" target="_blank">
        <i class="fa-brands fa-linkedin"></i></a>
      <a href="https://open.spotify.com/user/1244862042?si=20394512113645ae" target="_blank">
        <i class="fa-brands fa-spotify"></i></a>
</div>

<div class="links-row">
<% @list_of_items.each do |the_item| %>
  <div class="item">
    <img src="<%= the_item.thumbnail_url %>" class="thumbnail" alt="">

    <a class="link-text" target="_blank" href="<%= the_item.link_url %>">
      <%= the_item.link_description %>
    </a>
  </div>
<% end %>
</div>
